body {
    margin-top: 40px;
    background-color: #222;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}


/* Top Navigation */

.navbar-custom {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
    /*font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

.navbar-custom .navbar-nav > li > a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
     color: #222222;
}

.navbar-custom .navbar-nav > .active > a {
    color: #c62828;
    
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    color:#c62828;
    background-color:transparent;
}

.navbar-custom .navbar-brand {
    color:#c62828;
}
.navbar-custom .navbar-toggle {
    color: #222222;
    background-color: #f2f2f2;
    border-color: #ededed;
    
}
.navbar-custom .icon-bar {
    background-color:#f2f2f2;
}

.navbar-custom .navbar-brand {
    padding: 0px;
}

.navbar-custom .navbar-brand>img {
    height: 100%;
    padding: 10px; 
    width: auto;
}

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #222;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #c62828;
    background-color: #fff;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #c62828;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}


/* Custom Colored Panels */

.huge {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

.panel {
    font-family: 'Roboto', sans-serif;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #c62828;
}

.panel-red > .panel-heading {
    border-color: #c62828;
    color: #fff;
    background-color: #c62828;
}

.panel-red > a {
    color: #c62828;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.panel-brown {
    border-color: #795548;
}

.panel-brown > .panel-heading {
    border-color: #795548;
    color: #fff;
    background-color: #795548;
}

.panel-brown > a {
    color: #795548;
}

.panel-brown > a:hover {
    color: #795548;
}

.panel-purple {
    border-color: #7C4DFF;
}

.panel-purple > .panel-heading {
    border-color: #7C4DFF;
    color: #fff;
    background-color: #7C4DFF;
}

.panel-purple > a {
    color: #7C4DFF;
}

.panel-purple > a:hover {
    color: #7C4DFF;
}

.panel-cyan {
    border-color: #0097A7;
}

.panel-cyan > .panel-heading {
    border-color: #0097A7;
    color: #fff;
    background-color: #0097A7;
}

.panel-cyan > a {
    color: #0097A7;
}

.panel-cyan > a:hover {
    color: #0097A7;
}

.panel-orange {
    border-color: #F4511E;
}

.panel-orange > .panel-heading {
    border-color: #F4511E;
    color: #fff;
    background-color: #F4511E;
}

.panel-orange > a {
    color: #F4511E;
}

.panel-orange > a:hover {
    color: #F4511E;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}