html { 
    background: url(../img/cadastro/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body { 
  padding-top:30px;
  background-color: transparent;
}

a,p,h1,button {
  font-family: 'Roboto', sans-serif;
}

.form-control { 
  margin-bottom: 10px; 
}

.formcss{
  text-align: center;
}

.logo {
  padding-left: 0px;
  padding-bottom: 0px;
  height: 50px;
  width: auto;
}