body { 
  padding-top:30px;
  background-color: #009688;
  }

.form-control { 
  margin-bottom: 10px; 
  }

.legend{
  font-size: 40px;
}

.formcss{
  text-align: center;
}

.logo {
  padding-left: 0px;
  padding-bottom: 0px;
  height: 50px;
  width: auto;
}