.titulo{
    font-size: 25px;
    font-family: Arial;
    color: white;
}

.formulario{
  padding: 70px;
  text-align: center;
}

.sobreTitulo{
    padding: 70px;
}

.sobreConteudoTitulo{
    color: burlywood;
    text-align: center;
}

.sobreConteudo{
    text-align: left;
    color: black
}